/* General */
body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.4;
}
html {
  font-size: 1rem; /* or any other base size */

  scroll-behavior: smooth; /* Enable smooth scrolling */
}
/* Apply box-sizing globally */
*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
p {
  text-align: center;
}
a {
  text-decoration: none;
  color: #000;
}
/* Base styles for larger screens */
h1 {
  font-size: 5rem; /* Responsive heading size */
}

h2 {
  font-size: 2rem; /* Subheading size */
}
h3 {
  font-size: 1.5rem;
}
p {
  font-size: 1.2rem; /* Paragraph size */
}
/* Center the text in p tags inside the list items */
ul {
  padding-left: 0; /* Remove default padding from ul */
}

ul li {
  text-align: left; /* Align the li to the left */
}

ul li p {
  text-align: center; /* Center the text in p tags */
  margin: 0; /* Remove default margin for p tags */
}

/* Media Query for Tablets (768px and below) */
@media (max-width: 768px) {
  nav {
    display: none; /* Hide the navbar */
  }
  h1 {
    font-size: 5rem; /* Smaller heading for tablets */
  }

  h2 {
    font-size: 1.5rem; /* Smaller subheading */
  }
  h3 {
    font-size: 1.2rem;
  }

  p {
    font-size: 1rem; /* Smaller paragraph */
  }

  .skills-list {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    justify-content: center; /* Center items horizontally */
    align-items: center; /* Center items vertically */
    width: 80%; /* Set width */
    max-width: 400px; /* Limit the maximum width */
    margin: 0 auto; /* Center the container itself */
    gap: 15px; /* Space between items */
  }

  .hero-content {
    padding-top: 40px; /* Adjust padding for mobile */
  }

  nav ul {
    flex-direction: column; /* Stack nav items vertically */
  }

  nav ul li {
    margin: 5px 0; /* Adjust margin for vertical layout */
  }
}

/* Media Query for Mobile Devices (480px and below) */
@media (max-width: 480px) {
  h1 {
    font-size: 4rem; /* Even smaller heading for mobile */
  }

  h2 {
    font-size: 1.5rem; /* Smaller subheading */
  }
  h3 {
    font-size: 1.2rem;
  }
  p {
    font-size: 1rem; /* Smaller paragraph */
  }

  nav ul li {
    margin: 10px 0; /* Adjust margin for mobile */
  }

  .scroll-indicator {
    font-size: 18px; /* Smaller scroll indicator */
  }
}

/* Hero content */
.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Aligns content to the top */
  align-items: center;
  height: 100%;
  padding-top: 80px; /* Fine-tune spacing from the top */
}

/* Animated Gradient for Header */
#hero {
  background: linear-gradient(
    135deg,
    #ed2626,
    #871ffd,
    #023a89
  ); /* Blue to green to orange */
  background-size: 200% 200%; /* Increase the size to allow for animation */
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: white;
  text-align: center;
  position: relative;
  margin: 0;
  animation: gradientFlow 8s ease infinite; /* Apply animation */
}
/* Add this animation to your existing CSS */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px); /* Move the text up slightly */
  }
  to {
    opacity: 1;
    transform: translateY(0); /* Return to original position */
  }
}

/* Apply the animation to the header text */
.hero-content h1,
.hero-content h2 {
  animation: fadeIn 3s ease forwards; /* 1-second duration */
  opacity: 0; /* Start invisible */
}

/* Gradient Flow Animation */
@keyframes gradientFlow {
  0% {
    background-position: 0% 50%; /* Start from left */
  }
  50% {
    background-position: 100% 50%; /* Move to right */
  }
  100% {
    background-position: 0% 50%; /* Move back to start */
  }
}
/* Nav Bar */
nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 10px 0;
}

/* Stack nav items vertically on mobile */
@media (max-width: 768px) {
  nav ul {
    flex-direction: column; /* Vertical layout */
  }
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: #444444; /* Text color */
  font-weight: normal;
  padding: 10px 20px;
  background: rgba(255, 255, 255, 0.3); /* White with slight transparency */
  border-radius: 15px; /* Rounded button */
  transition: background 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05); /* Subtle shadow */
}

nav ul li a:hover {
  background: rgba(255, 255, 255, 0.9); /* Slightly less transparent on hover */
  transform: translateY(-3px); /* Lift effect on hover */
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.1); /* Stronger shadow on hover */
  color: #00073f; /* Text color change on hover */
}

/* Hero content */
.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.scroll-indicator {
  position: relative;
  bottom: 15vh;
  font-size: 5vh;
  color: #ffffff;
  animation: bounce 2s infinite; /* Simple bounce animation */
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
}
.about-container {
  width: 80%;
  display: flex; /* Ensure it's using flexbox */
  flex-direction: column; /* Stack items vertically */
  justify-content: center; /* Center the content horizontally */
  align-items: center; /* Center the content vertically */
  max-width: 60%; /* Set a max width for the container */
  margin: 0 auto; /* Center the container on the page */
}
.about-container li {
  list-style-type: none;
  text-align: left; /* Align the li to the left */
}
section#about h3,
p {
  text-align: left;
}

section#about ul {
  padding-left: 0; /* Remove default padding from ul */
}

.about-container ul li p {
  text-align: left; /* Center the text in p tags */
  padding-bottom: 20px;
  margin: 0; /* Remove default margin for p tags */
}

.parent-container {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

/* Project Grid and Card */
.project-grid {
  justify-content: center;
  align-content: center;
  width: 80%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 0.7fr));
  gap: 20px;
  padding: 20px;
}

.project-card {
  background: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  transition: transform 0.3s ease;
  height: auto;
  overflow: hidden; /* Prevent content overflow */
  max-width: 100%;
}

.project-card p {
  width: 100%; /* Full width */
  padding: 10px;
  padding-top: 0px;
  word-wrap: break-word; /* Ensure long words break */
  overflow-wrap: break-word; /* Alternative for wrapping */
  margin: 0;
}

/* Image should fill the card's width */
.project-card img {
  width: 100%;
  height: 50%; /* Adjust height if needed */
  border-radius: 20px;
  object-fit: cover; /* Maintain aspect ratio and cover the space */
}
.project-card h3 {
  font-size: 1.2rem;
}
.project-card:hover {
  transform: scale(1.05);
}

/* Media queries for smaller screens */
@media (max-width: 600px) {
  .project-card {
    padding: 15px; /* Reduce padding */
  }

  .project-card p {
    font-size: 1rem; /* Reduce text size */
    margin-bottom: 30px;
  }
}

/* Skills section */
.skills-list {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.skill-item {
  background: #e1e1e1;
  padding: 10px;
  border-radius: 5px;
}

/* Contact section styling */
#contact {
  background-color: #f9f9f9; /* Light background color */
  padding: 40px;
  margin-top: 50px; /* Add margin to separate from the top element */
  text-align: center;
}

/* Form container */
form {
  max-width: 600px;
  margin: 0 auto; /* Center the form */
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

/* Form elements */
label {
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: left; /* Align labels to the left */
  color: #333;
}

input,
textarea {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box;
}

input:focus,
textarea:focus {
  border-color: #1a73e8; /* Blue border when focused */
  outline: none; /* Remove default focus outline */
}

textarea {
  resize: vertical; /* Allow vertical resizing only */
  min-height: 150px; /* Ensure textarea is taller */
}

/* Submit button styling */
button {
  background-color: #1a73e8;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  width: 100%; /* Make button take full width */
}

button:hover {
  background-color: #1558b0; /* Darker blue on hover */
}

/* Responsive adjustments */
@media (max-width: 600px) {
  form {
    padding: 10px;
  }

  input,
  textarea {
    font-size: 14px;
    padding: 10px;
  }

  button {
    padding: 10px;
  }
}

/* Footer */
footer {
  text-align: center;
  padding-top: 40px;

  padding: 10px;
}

.social-icons a {
  margin: 0 10px;
  color: #333;
}
/* Style the sticky social links */
.social-links {
  position: fixed;
  top: 80%; /* Position vertically near the bottom */
  right: 10px; /* Align to the right side */
  transform: translateY(-50%); /* Adjust for vertical centering */
  display: flex;
  flex-direction: column; /* Stack the links vertically */
  gap: 15px; /* Space between the icons */
}

.social-links a {
  font-size: 24px; /* Icon size */
  color: white;
  padding: 10px;
  border-radius: 50%; /* Round icon background */
  width: 40px; /* Icon container size */
  height: 40px; /* Icon container size */
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
  text-decoration: none; /* Remove underline */
}

#linkedin {
  background-color: #175ab9;
}

#github {
  background-color: black;
}

#linkedin:hover {
  background-color: #b3b3b3; /* Darker blue on hover */
}

#github:hover {
  background-color: #b3b3b3; /* Darker blue on hover */
}

/* Adjust for smaller screens */
@media (max-width: 768px) {
  .social-links {
    right: 5px; /* Adjust position on smaller screens */
  }

  .social-links a {
    width: 30px;
    height: 30px;
    font-size: 20px; /* Smaller icon on smaller screens */
  }
}
